#article-list-inner {
    margin-top: var(--m3);
    padding-top: var(--m2);
    border-top: 1px solid var(--g2);
}

.new-article-item-container {
    height: 100%;
    width: 35%;
    margin: var(--m1) 0;
    justify-content: space-between;
}

.highlight-article-item {
    height: 100%;
    width: 90%;
    margin-left: 10%;
    padding: var(--m1) 0;
}

.highlights-right-container {
    height: 100%;
    width: 100%;
}

.article-highlight-section {
    height: 600px;
}

li::marker {
    display: none !important;
}

.article-list-area,
.article-list,
.article-list-item {
    width: 100%;
    margin: 0;
    padding: 0;
}

.article-list-item {
    list-style-type: none;
    padding: 20px 0 !important;
}

.highlight-article-item {
    justify-content: space-between;
    align-items: center;
}

.article-list-body {
    width: 100%;
    height: 160px;
    margin: var(--m2) 0;
    align-items: center;
    border-bottom: 1px solid var(--g2);
}

.highlight-article-image {
    height: 100px;
    min-width: 120px;
}

.highlight-article-preview {
    width: 220px;
    text-align: right;
    margin-right: 2em;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    -webkit-line-clamp: 5;
}

.highlight-article-text {
    margin-right: var(--m2);
}

.article-li {
    border-bottom: 1px solid var(--g2);
}

.article-li p {
    font-size: .75em;
}

.article-li h1 {
    line-height: 120%;
    color: var(--a);
    font-size: var(--size2);
    margin-bottom: .25em;
    font-family: var(--f2);
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    -webkit-line-clamp: 3;
}

.article-cover {
    -o-object-fit: cover !important;
    object-fit: cover !important;
    background-size: cover !important;
}

.article-readmore {
    text-align: right;
    margin-left: .5em;
}

.new-article-cover {
    width: 100%;
    height: 65%;
    display: flex;
    align-items: flex-end;
}

.new-article-title-wrapper {
    padding: calc(var(--m2) * 1.5) var(--m2);
}

.new-article-title-a {
    color: white !important;
    line-height: 115%;
}

.new-article-cover h1 {
    padding-right: 25%;
    font-family: var(--f2);
    color: white;
    font-size: var(--size4);
    filter: drop-shadow(0px 6px 10px black);
}

.mini-pfp {
    height: 16px;
    width: 16px;
    -o-object-fit: cover;
    object-fit: cover;
    border-radius: 999px;
    margin-right: .75em;
    box-shadow: var(--bs-s)
}

.mini-user {
    font-size: .9em;
    align-items: center;
    margin: var(--m1) 0;
}

.new-article-preview {
    max-height: 150px;
    overflow: hidden;
}

.new-article-highlighted-content {
    justify-content: space-between;
}

.new-article-text-fade-out {
    height: 50%;
    width: 100%;
    position: relative;
    bottom: 50%;
    background: linear-gradient(var(--bg-t), var(--bg));
    pointer-events: none;
}

.main-article-cover {
    margin-right: var(--m2);
}

.article-list-item .highlight-article-item {
    margin-left: 0;
    width: 100%;
}

.article-list-image {
    height: 180px;
    width: 200px;
}

.article-li-pagi {
    width: 100%;
    padding-bottom: 40px;
}

.article-pagi-title {
    font-size: var(--size2) !important;
    font-family: var(--f2);
}

.article-pagi-content {
    justify-content: center;
    margin-left: var(--m3);
}

.article-pagi-right {
    justify-content: space-between;
    width: 100%;
}

.article-pagi-extra-content {
    justify-content: center;
    text-align: right;
    width: 20%;
}

.article-pagi-content p.sub {
    margin-top: var(--m1) !important;
}

.article-pagi-writer {
    margin-bottom: .5em;
}

.article-pagi-preview,
.article-pagi-content,
.article-pagi-title {
    max-width: 75%;
}

.article-page-title {
    font-size: var(--size5);
    font-family: var(--f2);
    margin-bottom: var(--m1);
    line-height: 120%;
    margin-bottom: var(--m2);
}

.article-page-cover {
    width: 100%;
    height: 360px;
    border-top-right-radius: var(--r2);
    border-top-left-radius: var(--r2);
    border-bottom: 1px solid var(--bg-alt);
}

.article-content-wrapper {
    position: absolute;
    left: var(--m3);
    width: calc(100% - calc(var(--m3) * 2));
    margin-top: var(--m1);
}

.article-content-wrapper-inner {
    width: clamp(200px, var(--article-content-width), 100%);
    margin: auto;
    border: 1px solid var(--bg-alt);
    border-top-left-radius: var(--r2);
    border-top-right-radius: var(--r2);
    box-shadow: var(--bs-s);
}

.article-page-text {
    padding: var(--m3) var(--m4);
    padding-top: 0 !important;
}

.article-page-top {
    margin-right: 20%;
    margin-bottom: var(--m3);
    margin-top: var(--m3);
}

.article-page-content-text-body {
    line-height: 150%;
    font-family: 'Lora';
    font-weight: 400;
    color: var(--g1);
    margin-bottom: var(--m4);
}

.article-page-content-text-body img {
    width: 100%;
}

.mobile-drawer-handle {
    width: 15%;
    position: relative;
    background: rgba(255, 255, 255, .75);
    height: 8px;
    border-radius: 999px;
    left: 50%;
    transform: translate(-50%, calc(100% + 4px));
    box-shadow: var(--bs-s);
    display: none;
}