.custom-pfp {
    box-shadow: var(--bs-s);
}

.pfp {
    height: 160px;
    width: 160px;
    border-radius: 999px;
}

.profile-displayname {
    font-weight: bold;
    width: 100%;
    font-size: var(--size2);
    font-family: var(--f1);
    color: var(--fg);
    text-align: center;
    overflow-wrap: anywhere;
    max-width: 220px;
}

.profile-area {
    width: 100%;
}

.profile-top {
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

#profile-info-section {
    max-width: 220px;
    text-align: left;
}

.profile-info-field {
    font-size: .75em;
    font-family: var(--f1);
    color: var(--g1);
    line-height: 150%;
}

.profile-info-area {
    margin-bottom: .75em;
}

.profile-info-container {
    flex-wrap: wrap;
    flex-basis: 100%;
}

.profile-info-icon {
    margin-right: .15em;
    font-size: .8em;
}

.profile-main {
    padding-right: var(--m3);
}

.profile-tags {
    display: inline;
    vertical-align: middle;
    margin-top: .25em;
    width: 100%;
}

.profile-pfp-area {
    padding-bottom: var(--m2);
}

.profile-info-spacer {
    height: var(--m2);
}

.user-bio-text {
    margin-top: var(--m2);
}