.DS_Store
.env
.flaskenv
*.pyc
*.pyo
env/
venv/
.venv/
env*
dist/
build/
*.egg
*.egg-info/
_mailinglist
.tox/
.cache/
.pytest_cache/
.idea/
docs/_build/
.mypy_cache

# Coverage reports
htmlcov/
.coverage
.coverage.*
*,cover

*.css.map
.env
theistanbulchronicle-3173a-242f3f0f0efe.json
pfp_temp/
.cert/
production/
