@-webkit-keyframes slide-in {
    from {
        opacity: 0;
        transform: translateY(50px) scaleY(1.12);
        -webkit-filter: blur(3px);
        filter: blur(3px);
    }

    to {
        opacity: 1;
        transform: unset;
        -webkit-filter: unset;
        filter: unset;
    }
}

@keyframes slide-in {
    from {
        opacity: 0;
        transform: translateY(50px) scaleY(1.12);
        -webkit-filter: blur(3px);
        filter: blur(3px);
    }

    to {
        opacity: 1;
        transform: unset;
        -webkit-filter: unset;
        filter: unset;
    }
}

@-webkit-keyframes fly-in {
    from {
        opacity: 0;
        transform: translateY(40px);
    }

    to {
        opacity: 1;
        transform: unset;
    }
}

@keyframes fly-in {
    from {
        opacity: 0;
        transform: translateY(40px);
    }

    to {
        opacity: 1;
        transform: unset;
    }
}


@-webkit-keyframes fly-in-subtle {
    from {
        transform: translateY(20px);
    }

    to {
        transform: unset;
    }
}


@keyframes fly-in-subtle {
    from {
        transform: translateY(20px);
    }

    to {
        transform: unset;
    }
}

@-webkit-keyframes fade {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fade {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@-webkit-keyframes fade-out {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

@keyframes fade-out {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

@-webkit-keyframes top-in {
    from {
        transform: translateY(-100%);
    }

    to {
        transform: none;
    }
}

@keyframes top-in {
    from {
        transform: translateY(-100%);
    }

    to {
        transform: none;
    }
}

@keyframes top-in-subtle {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }

    to {
        opacity: 1;
        transform: none;
    }
}