body {
    background: var(--bg);
}

#error-wrapper {
    height: 100vh !important;
    width: 100%;
}

.error-title {
    font-size: var(--size4);
}

.return-home {
    text-decoration: underline;
}

.error-content-wrapper {
    padding: var(--m3);
    animation: .5s slide-in;
    margin: var(--m2);
}

.error-code {
    font-size: var(--size4);
}