
.theme-dark {
    --bg: #191919;
    --fg: #ffffff;
    --g1: #909090;
    --g2: #505050;
    --a: #9481ff;
    --a2: #3700B3;
}

.theme-light {
    --bg: #ffffff;
    --fg: #000000;
    --g1: #505050;
    --g2: #cecece;
    --a: #3700B3;
    --a2: #9481ff;
}

body {
    background: var(--bg);
    color: var(--fg);
    --topbar-height: 40px;
    --danger: 255, 100, 70;
    --positive: 40, 200, 120;
    --f1: 'Roboto', 'Arial', sans-serif;
    --f2: 'Fraunces', 'Times New Roman', 'Times', serif;
    --f3: 'Old English', serif;
    --sub: .75em;
    --size1: 1em;
    --size2: 1.5em;
    --size3: 2em;
    --size4: 2.5em;
    --size5: 3em;
    --size6: 3.5em;
    --m1: 10px;
    --m2: 20px;
    --m3: 40px;
    --m4: 80px;
    --r1: 4px;
    --r2: 8px;
    --r3: 12px;
    margin: 0;
    padding: 0;
    font-family: var(--f1);
}