.theme-dark {
    --bg: #141414;
    --bg-t: #14141400;
    --bg-alt: #202020;
    --fg: #ffffff;
    --g1: #dbdbdb;
    --g2: #5a5a5a;
    --a: #ffffff;
    --c: #161616;
    --bs: 0 10px 64px -28px #000000;
    --bs-s: 0 6px 20px -3px #101010;
    --bs-invert: 0 0 48px -20px var(--fg);
}

.theme-light {
    --bg: #ffffff;
    --bg-t: #ffffff00;
    --bg-alt: #e2e2e2;
    --fg: #000000;
    --g1: #505050;
    --g2: #cecece;
    --a: #000000;
    --c: #eeeeee;
    --bs: 0 10px 40px -24px rgba(0, 0, 0, .2);
    --bs-s: 0 6px 20px -2px rgba(0, 0, 0, .12);
    --bs-invert: 0 0 60px -12px var(--fg);
}

body {
    background: var(--bg);
    color: var(--fg);
    --topbar-height: 40px;
    --danger: 255, 90, 60;
    --positive: 40, 200, 120;
    --article-content-width: 800px;
    --f1: 'Roboto', 'Noto Sans', 'Arial', sans-serif;
    --f2: 'DM Serif Display', 'Times New Roman', 'Times', serif;
    --f3: 'Old English', serif;
    --sub: .75em;
    --size1: 1em;
    --size2: 1.5em;
    --size3: 2em;
    --size4: 2.5em;
    --size5: 3em;
    --size6: 3.5em;
    --m1: 10px;
    --m2: 20px;
    --m3: 40px;
    --m4: 80px;
    --r1: 4px;
    --r2: 8px;
    --r3: 20px;
    margin: 0;
    padding: 0;
    font-family: var(--f1);
    overflow-x: hidden;
}