{% extends "base.html" %}
{% block style %}
<style>
    .about-title {
        text-align: left !important;
        margin-bottom: var(--m2);
    }

    .about-content-wrapper {
        border-right: 2px solid var(--g2);
        margin-right: var(--m3);
        padding-right: var(--m3);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    #about-page-wrapper {
        max-width: 680px;
        padding: 60px;
        padding-right: 80px;
        animation: .5s fly-in;
    }

    .center-container {
        top: 0;
        position: absolute;
        height: 100%;
        width: 100%;
        left: 0;
        right: 0;
    }

    .about-icon {
        font-size: var(--size4);
        color: var(--fg);
        font-family: var(--f3);
        margin: 12px 0;
    }

    .beta-icon-side {
        font-size: .65em;
    }

    .fa-about {
        margin-left: 4px;
        font-size: .75em;
        width: 1.1em;
        vertical-align: middle;
        margin-bottom: 2px;
    }

    .about-bottom-container {
        align-items: center;
    }
</style>
{% endblock %}
{% block body %}
<div id="app-wrapper">
    <div class="center-container flex-center">
        <div id="about-page-wrapper">
            <h1 class="title-large about-title">About Us</h1>
            <div id="about-wrapper" class="flex-row flex-center">
                <div class="about-content-wrapper">
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam velit quam, dignissim nec
                        tortor nec,
                        pretium iaculis metus. Morbi suscipit venenatis facilisis. Etiam condimentum vitae est a
                        laoreet.
                        Nam
                        finibus scelerisque metus ac tempus. Donec nec eros sed odio tristique semper. Fusce egestas
                        vel dui
                        semper feugiat. Suspendisse potenti. Vivamus sapien ipsum, maximus eu sapien nec, varius
                        congue
                        orci.
                        Nullam ac metus gravida, molestie elit elementum, consectetur dolor. Quisque id mi nec felis
                        convallis
                        interdum nec ut felis.

                        In laoreet elit nec erat fringilla, non dapibus nibh aliquet. In et ullamcorper tellus, a
                        commodo
                        mauris. Praesent a tempor leo, a aliquet metus. Maecenas eget pulvinar neque. Duis sed
                        efficitur
                        ante.
                        Praesent ullamcorper nulla turpis, vel tincidunt lectus pulvinar commodo.
                    </p>
                </div>
                <div class="about-contact-wrapper">
                    <p class='block'>Contact us here:
                        <i class="fa-about far fa-envelope-open"></i>
                        <br>
                        <a href="mailto: info@theistanbulchronicle.com">info@theistanbulchronicle.com</a>
                    </p>
                    <p class='block'><br>Want to be a part<br>of the Chronicle?
                        <i class="fa-about fas fa-i-cursor"></i>
                        <br>
                        <a href="/contribute">Visit the contribution page</a>
                    </p>
                    <p class='block'><br>Have an idea, suggestion or question?
                        <i class="fa-about far fa-comment-alt"></i>
                        <br>
                        <a href="/feedback">Go to the feedback hub</a>
                    </p>
                    <p class='block sub'><br>2021, shape.ist<br></p>
                    <div class="flex-row about-bottom-container">
                        <p class='block about-icon'>C</p>
                        <div class="beta beta-icon-side">beta</div>
                    </div>
                </div>
            </div>
        </div>
        {{footer()}}
    </div>
</div>
{% endblock %}