{% extends "base.html" %}

{% block title %}

    {% if var is iterable and (var is not string and var is not mapping) %}
        <title>{{ article["title"] }}</title> {% else %}
        <title>Profile not found</title> {% endif %}
{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='style/screens/article.css') }}">
{% endblock %}

{% block body %}
<script>
    $('#socials-side').hide();
</script>
<div class="article-content-wrapper">
    <div class="article-content-wrapper-inner">
        <img src="{{ article['cover_image'] }}" alt="{{ article['title'] }}" class="article-page-cover">
        <div class="article-page-text">
            <div class="article-page-top">
                {% from "./macros/_mini_user.html" import mini_user with context %}
                <h1 class="article-page-title">
                    {{ article['title'] }}
                </h1>
                {{ mini_user(article) }}
            </div>
            <div class="article-page-content-text-body">
                {{ article['body'] }}
            </div>
        </div>
    </div>
</div>
{% endblock %}