{% extends "base.html" %}

{% block title %}

    {% if var is iterable and (var is not string and var is not mapping) %}
        <title>{{ article["title"] }}</title> {% else %}
        <title>Profile not found</title> {% endif %}
{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='style/screens/article.css') }}">
{% endblock %}

{% block body %}

    {% from "./macros/_mini_user.html" import mini_user with context %}
    <h1 class="article-page-title">
        {{ article['title'] }}
    </h1>
    {{ mini_user(article) }}

{% endblock %}