{% extends "base.html" %}

{% block title %}
    <title>The Istanbul Chronicle: From truth, comes liberation</title>
{% endblock %}

{% block head %}
    <script type="text/javascript" src="{{ url_for('static', filename='js/loadHandler.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/global.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/cleanAuthURL.js') }}"></script>
    <title>The Istanbul Chronicle</title>
{% endblock %}

{% block body %}
    <script>
        (function () {
            handleAuthURL('{{ subpage }}')
        })();
        document.addEventListener('DOMContentLoaded', function(event) {
            document.getElementById('highlights').setAttribute('data-highlights-end', '{{ h["last_uid"] }}');
        })
    </script>
    {% from "./macros/_feed.html" import feed with context %}
    {{ feed(h['data']) }}

{% endblock %}