{% extends "base.html" %}

{% block title %}
    <title>The Istanbul Chronicle: From truth, comes liberation</title>
{% endblock %}

{% block head %}
    <script type="text/javascript" src="{{ url_for('static', filename='js/loadHandler.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/global.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/pagi.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/cleanAuthURL.js') }}"></script>
    <script src="{{ url_for('static', filename='js/pagi.js') }}"></script>
    <title>The Istanbul Chronicle</title>
{% endblock %}

{% block body %}
    {% from "./macros/_feed.html" import feed with context %}
    <script>
        (function () {
            handleAuthURL('{{ subpage }}')
        })();
    </script>
    
    {{ feed(h) }}

    <link rel="stylesheet" href="{{ url_for('static', filename='style/macros/_article_item.css') }}">


{% endblock %}