{% extends "base.html" %}

{% block title %}
<title>Your profile</title>
{% endblock %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='style/screens/profile.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='style/screens/tablet/profile?_t.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='style/screens/mobile/profile?_m.css') }}">
{% endblock %}

{% block body %}
<div class="profile-area flex-center flex-col">
    <img src="https://i.imgur.com/AizUHEf.png" alt="username" class="profile-pfp">
    <p class="profile-displayname">Barış İnandıoğlu</p>
    <tag class="profile-tag">Writer</tag>
    <p class="sub select">
        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
        standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make
        a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting,
        remaining essentially unchanged.
    </p>
</div>
{% endblock %}

<!-- 
{% extends "base.html" %}

{% block title %}
<title>The Istanbul Chronicle: From truth, comes liberation</title>
{% endblock %}

{% block imports %}
{% from "./macros/_load.html" import load %}
{% endblock %}

{% block style %}
<style>
    #profile-page-wrapper {
        max-width: 680px;
        padding: 60px;
        padding-right: 80px;
        animation: .5s fly-in;
    }

    .center-container {
        top: 0;
        position: absolute;
        height: 100%;
        width: 100%;
        left: 0;
        right: 0;
    }

    .beta-icon-side {
        font-size: 1em !important;
    }
</style>
{% endblock %}

{% block head %}
<div class="center-container flex-center">
    <div id="profile-page-wrapper">
        <input type="file">
    </div>
</div>
{% endblock %}
-->