{% extends "base.html" %}

{% block title %}
<title>Your profile</title>
{% endblock %}

{% block style %}
<style>
    .profile-pfp {
        height: 140px;
        width: 140px;
        border-radius: 50%;
        box-shadow: 0 10px 24px rgba(0, 0, 0, .16);
    }

    .profile-displayname {
        font-weight: bold;
        width: 100%;
        margin-top: var(--m2);
        font-size: var(--size1);
        text-align: center;
        overflow-wrap: anywhere;
    }

    .profile-area {
        width: 20%;
    }
    .profile-tag{
        background: rgba(20, 160, 255, 0.2);
        color: rgb(20, 160, 250);
        padding: 5px;
        margin: 10px;
        border-radius: 6px;
        font-size: .8em;
        font-weight: bold;
    }
</style>
{% endblock %}

{% block body %}
<div class="profile-area flex-center flex-col">
    <img src="https://i.imgur.com/7wQ61EW.jpeg" alt="username here" class="profile-pfp">
    <p class="profile-displayname">Barış İnandıoğlu</p>
    <tag class="profile-tag">Writer</tag>
</div>
{% endblock %}