{% extends "base.html" %}

{% block imports %}
{% from "./macros/_form.html" import form %}
{% endblock %}

{% block style %}
<style>
    #register-wrapper {
        background: var(--fg);
        padding: var(--m3);
        max-width: 480px;
    }

    .register-form {
        margin-bottom: var(--m2);
    }

    .personal-info {
        margin-right: var(--m2);
    }

    .pass-container {
        width: 25%;
    }
</style>
{% endblock %}
{% block body %}
<div id="app-wrapper">
    <div id="register-wrapper" class="flex-col">
        <h1 class="title-large">Register.</h1>
        <p class="sub">Be a part of The Istnabul Chronicle community.</p>
        <div class="flex-row">
            {{form("Name",              "personal-info register-form",      "register-display-name-field",      "text",         "ndame")}}
            {{form("E-mail",            "personal-info register-form",      "register-email-field",             "email",        "namfe")}}
        </div>
        <div class="flex-col pass-container">
            {{form("Password",          "register-form",                    "register-password-field",          "password",     "namfae")}}
            {{form("Verify Password",   "register-form",                    "register-verify-field",            "password",     "naame")}}
        </div>
    </div>
</div>
{% endblock %}