{% extends "base.html" %}
{% from "./macros/_form.html" import form %}

{% block title %}
<title>Register for the Chronicle</title>
{% endblock %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='style/screens/register.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='style/screens/tablet/register_t.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='style/screens/mobile/register_m.css') }}">
{% endblock %}

{% block body %}

<div class="page-wrapper flex-center">
    <div id="register-wrapper" class="flex-col r1">
        <h1 class="title-large register-title">Register.</h1>
        <p class="sub register-sub">Join the community.</p>
        <form method="POST" class="input-field-container">
            <div class="flex-row">
                {{form("Name",              "personal-info register-form",      "register-field register-display-name-field",      "text",         "name-register-displayname")}}
                {{form("E-mail",            "personal-info register-form",      "register-field register-email-field",             "email",        "name-register-email")}}
            </div>
            <div class="flex-row">
                <div class="pass-container">
                    {{form("Password",          "register-form",                    "register-field register-password-field",          "password",     "name-register-password")}}
                </div>
                <div class="submit-container flex-col">
                    <p class="sub register-sub terms-sub">By clicking register, you agree to the <a
                            href="/legal/terms-and-conditions" class="terms">terms and conditions.</a></p>
                    <button type="submit" class="r1 submit-button">Register</button>
                </div>
            </div>
        </form>
    </div>
</div>

{% endblock %}