{% macro header_profile() %}
    <style>
        .header-pfp-container {
            height: 40px;
            width: 40px;
            background: var(--g2);
            border-radius: 999px;
            padding: 0;
        }

        .header-pfp-image {
            height: 100%;
            width: 100%;
            border-radius: 999px;
            box-shadow: var(--bs-s);
        }

        .header-profile-link {
            padding: 15px 30px;
            position: relative;
            right: 125%;
            bottom: 25%;
        }

        .header-profile-tag {
            height: fit-content;
            margin-right: var(--m2);
            font-size: 12px;
        }

        .profile-pre-dropdown {
            height: fit-content;
            width: 156px;
            background: var(--bg);
            position: relative;
            left: calc(-200px / 2 - var(--m1));
            top: var(--m1);
            border: 1px solid var(--g2);
            font-size: .65em;
            box-shadow: var(--bs-s);
        }

        .header-drop-pfp-wrapper {
            height: 50px;
            width: 50px;
            padding-top: var(--m1);
        }

        .profile-pre-dropdown-topmost {
            padding: var(--m1);
        }

        .yourprofile-text {
            font-size: var(--size1);
            color: var(--fg);
            margin: 1em 0;
            font-family: var(--f1);
            text-align: center;
            padding: 0 1em;
        }

        .yourprofile-dropdown-list {
            list-style-type: none;
            padding-left: 0;
            font-family: var(--f1);
            font-weight: 600;
            margin: 0;
            margin-bottom: var(--m1);
        }

        .yourprofile-dropdown-list li {
            padding: var(--m1) calc(var(--m1) * 1.5);
        }

        .yourprofile-dropdown-list li .fas {
            margin-right: .5em;
        }

        .yourprofile-dropdown-personal {
            padding: 0 !important;
            margin-bottom: var(--m2);
        }

        .yourprofile-dropdown-personal li {
            border-bottom: 1px solid var(--g2);
        }

        .yourprofile-bottom:hover {
            background: rgb(var(--danger));
        }

        .yourprofile-bottom:hover a {
            color: white;
        }

        .yourprofile-danger a {
            color: rgb(var(--danger));
        }

        .yourprofile-btn:hover {
            background: var(--fg);
        }

        .yourprofile-btn:hover a {
            color: var(--bg);
        }

        .yourprofile-item {
            transition: .2s ease !important;
        }

        .non-elevated-hidden-text {
            margin: var(--m2);
            text-align: center;
        }

        .non-elevated-hidden-text .fas {
            margin-right: .2em;
        }

        .drop-bio {
            text-align: center;
        }

        .drop-handler-btn {
            background: transparent;
            height: 100%;
            width: 100%;
            margin: 0;
            padding: 0;
        }

        #profile-pre {
            display: none;
            animation: .16s top-in-subtle;
        }

        .drop-handler-btn:hover,
        .drop-handler-btn:active {
            filter: none !important;
            opacity: 100% !important;
            box-shadow: initial !important;
        }
    </style>
    <div class="header-profile-is-signed-in flex-row flex-center">
    {% set user = c_user() %}
    {% set elevations = user["elevation"] %}
    {% set name = user["name"] %}
    {% if 'S' in elevations %}
        <span class="profile-tag mini-tag header-profile-tag">Staff</span>
    {% elif 'A' in elevations %}
        <span class="profile-tag mini-tag header-profile-tag">Admin</span>
    {% elif 'E' in elevations %}
        <span class="profile-tag mini-tag header-profile-tag">Editor</span>
    {% elif 'W' in elevations %}
        <span class="profile-tag mini-tag header-profile-tag">Writer</span>{% endif %}

    <div class="header-pfp-container">
        {% if current_pfp() != '' %}
            {% set pfp_src = current_pfp() %}
        {% else %}
            {% set pfp_src = url_for('static', filename='assets/default_pfp/pfp.svg') %}
        {% endif %}
        <button id="profile-pre-btn" class="pointer drop-handler-btn"
                onclick="displayDismiss('profile-pre-btn', 'profile-pre', 'block')">
            <img alt="{{ name }}" class="header-pfp-image" src="{{ pfp_src }}">
        </button>
        <div id="profile-pre" class="profile-pre-dropdown r2">
            <div class="yourprofile">
                <div class="flex-col flex-center profile-pre-dropdown-topmost">
                    <div class="header-drop-pfp-wrapper">
                        <img alt="{{ name }}" class="header-pfp-image" src="{{ pfp_src }}">
                    </div>
                    <h1 class="yourprofile-text">{{ name }}</h1>
                </div>
                <ul class="yourprofile-dropdown-list">
                    {% if user['elevation'] == [] %}
                        {% set elevated_drop = false %}
                        <li class="yourprofile-dropdown-personal">
                            <ul class="yourprofile-dropdown-list">

                                {% if user['bio'] != '' %}
                                    <li class="drop-bio">{{ user['bio'] }}</li>
                                {% endif %}

                                {% if user['email'] != '' %}
                                    <li>
                                        <i class="profile-info-icon fas fa-envelope"></i>
                                        {{ user['email'] }}
                                    </li>
                                {% endif %}

                                {% if user['location'] != '' %}
                                    <li>
                                        <i class="profile-info-icon fas fa-map-marker-alt"></i>
                                        {{ user['location'] }}
                                    </li>
                                {% endif %}

                                {% if user['phone'] != '' %}
                                    <li>
                                        <i class="profile-info-icon fas fa-phone"></i>
                                        {{ user['phone'] }}
                                    </li>
                                {% endif %}
                            </ul>
                        </li>
                    {% else %}
                        {% set elevated_drop = true %}
                    {% endif %}
                    {% if elevated_drop %}
                        <li class="yourprofile-btn yourprofile-item">
                            <a href="/profile/me">
                                <i class="fas fa-user-circle"></i> View Profile</li>
                        </a>
                    {% endif %}
                    <li class="yourprofile-btn yourprofile-item">
                        <a href="my/edit">
                            <i class="fas fa-edit"></i> Edit Profile</li>
                    </a>
                    {% if 'A' in user['elevation'] %}
                        <li class="yourprofile-btn yourprofile-item">
                            <a href="/admin">
                                <i class="fas fa-hammer"></i> Admin Panel</li>
                        </a>
                    {% endif %}
                    <li class="yourprofile-item yourprofile-danger yourprofile-bottom">
                        <a href="logout">
                            <i class="fas fa-sign-out-alt"></i> Log out</li>
                    </a>
                    {% if not elevated_drop %}
                        <p class="sub non-elevated-hidden-text">
                            <i class="fas fa-eye-slash"></i>
                            Your profile won't be visible to other users unless you are a contributor of The Chronicle.
                        </p>
                    {% endif %}
                </ul>
            </div>
        </div>
        </bu>
    </div>
{% endmacro %}

{% macro header_auth() %}
    <div class="profile-area">
        <button onclick="display('login-area', 'flex')" class="header-button auth pointer">
            Log in /
        </button>
        <button onclick="display('register-area', 'flex')" class="header-button auth pointer">
            Register
        </button>
    </div>
{% endmacro %}