{% macro mini_user(article) %}
<div class="mini-user flex-row">
    <!-- {% set pfp = article['writer']['pfp'] %}
    {% if pfp|string() == '' %}
        {% set pfp = url_for('static', filename='assets/default_pfp/pfp.svg') %}
    {% endif %}
    <img class="mini-pfp" src="{{ pfp }}"
         alt="{{ article['writer']['name'] }}"> -->
    <p style="color: var(--g1) !important;">
        <b>
            {% set name_raw = article['writer']['name'] %}
            {% if name_raw is not defined %}
                {% set name = '[Deleted Profile]' %}
            {% else %}
                {% set name = name_raw %} 
            {% endif %}

            {% set uid_raw = article['writer']['uid'] %}
            {% if uid_raw is not defined %}
                {% set uid = '#' %}
            {% else %}
                {% set uid = uid_raw %} 
            {% endif %}
            
            <a style="font-weight: 400 !important; color: var(--g1)" href="{{ uid }}">
                {{ name }}
            </a>
        </b>
        <span style='margin:0 .5em'>●</span>
        <span>
        {{ unix_time(article['timestamp']) }}
    </span>
    </p>
</div>
{% endmacro %}