{% extends "base.html" %}

{% block style %}
    <style>
        * {

            -webkit-user-select: auto !important;
            -moz-user-select: auto !important;
            -ms-user-select: auto !important;
            user-select: auto !important;
        }

        .import {
            -webkit-user-select: none !important;
            -moz-user-select: none !important;
            -ms-user-select: none !important;
            user-select: none !important;
        }
    </style>
{% endblock %}

{% block title %}
    <title>Terms And Conditions</title>
{% endblock %}

{% block body %}
    <p class="title-large" style="color: var(--fg) !important; margin-bottom: var(--m4)"><br><br>Terms & Conditions.</p><br><br>
    <p class="sub">
        (Last updated: {{ updated }})
    </p>
        <br>
        <br>
        {{ tac|safe }}

{% endblock %}