.form-container {
    width: 50%;
    justify-content: flex-end;
    align-items: center;
}

.auth-lower-container {
    width: calc(100% + var(--m2) * 2);
}

.register-link {
    color: var(--bg);
    margin-left: 6px;
}

.sub-auth-redirect-popup {
    padding: var(--m1) var(--m2) !important;
    margin-top: var(--m1);
    background: var(--fg);
    color: var(--bg);
    border-radius: 999px;
    animation: .2s slide-in !important;
}

.register-popup {
    background: var(--fg);
    padding: var(--m3);
    max-width: 400px;
    height: fit-content;
}

.register-form {
    margin-bottom: var(--m2);
}

.personal-info {
    margin-right: var(--m2);
}

.pass-container {
    width: 999px;
    margin-right: var(--m1);
}

.register-title {
    color: var(--bg);
    text-align: center !important;
    line-height: 150% !important;
}

.register-sub {
    color: var(--g2) !important;
    text-align: center;
}

.input-field-container {
    margin-top: var(--m3);
}

.register-field {
    margin: 0;
}

.submit-container {
    width: 100%;
    justify-content: flex-end;
    align-items: flex-end;
    margin-left: 60px;
    margin-bottom: 20px;
    margin-right: 20px;
}

.terms-sub {
    text-align: right;
    width: 170px !important;
    margin-bottom: var(--m1);
}

.terms {
    color: var(--a2) !important;
}

.page-wrapper {
    position: fixed;
    height: 100%;
    width: 100%;
    display: flex;
    overflow: hidden;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

#verification {
    margin-top: var(--m1);
}

#verification-left-section {
    margin-right: var(--m3);
}

#verification-right-section {
    justify-content: space-evenly;
    min-width: 25%;
}

.verification-fail {
    padding: var(--size1);
}


.auth-overlay {
    background: rgba(0, 0, 0, .7);
    z-index: 999;
}

.auth-container {
    background: var(--fg);
    color: var(--bg);
    padding: 80px;
    max-width: 400px;
    animation: .45s slide-in;
}


.google-auth {
    background: var(--bg);
    color: var(--fg);
    outline: none;
    border: none;
    padding: 20px 40px;
    border-radius: 999px;
    font-family: var(--f1);
    font-weight: bold;
    font-size: var(--size1);
    display: none !important;
}

.auth-content {
    margin: var(--m2);
    color: var(--bg) !important;
}

.auth-main {
    animation: .5s fly-in;
}

.auth-sub {
    animation: .65s fly-in;
}

.auth-item {
    animation: .2s fly-in-subtle;
    animation-delay: .05s;
}