@-webkit-keyframes blink {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@keyframes blink {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

#loading {
    background: var(--bg);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
    top: 0;
    left: 0;
}

#loading-icon {
    font-family: var(--f3);
    font-size: 72px;
    margin: 0;
    -webkit-animation: blink 1.5s infinite;
            animation: blink 1.5s infinite;
    color: var(--fg);
}