#mobile-menu-drawer {
    z-index: 9999;
    min-height: 10vh;
    max-height: 50vh;
    width: 90%;
    margin: auto;
    background: var(--bg);
    bottom: var(--m2);
    left: 5%;
    border-radius: var(--r3);
    box-shadow: var(--bs);
    border: 1px solid var(--g2);
    overflow-y: scroll;
    scrollbar-width: none;
    padding: var(--m2) 0;
}

#mobile-menu-drawer::-webkit-scrollbar {
    width: 0 !important;
}

#mobile-menu-drawer ul {
    height: 100%;
    list-style-type: none;
    padding: var(--m2) var(--m3);
    padding-top: 0 !important;
    padding-bottom: 0;
}

#mobile-menu-drawer ul li {
    margin-bottom: var(--m2) 0;
    border-bottom: 1px solid var(--g2);
    font-family: var(--f2);
}

#mobile-menu-drawer ul li a {
    color: var(--fg) !important;
    display: inline-block;
    width: 100%;
    text-align: center;
    padding: 26px 0;
}

#mobile-back-btn {
    width: 90%;
    background: var(--bg);
    border: 1px solid var(--g2);
    color: var(--fg);
    padding: var(--m2);
    margin: var(--m1) 5%;
    border-radius: var(--r3);
    font-weight: 600;
    font-size: var(--size1);
}

.disabled-menu {
    pointer-events: none;
    opacity: .25;
}

#mobile-theme {
    font-size: 1.5em;
    position: fixed;
    left: 100%;
    transform: translate(calc(-150% - .5em), calc(-50% - var(--m2)));
}

#mobile-theme i {
    padding: var(--m1);
    border-radius: 999px;
    background: var(--bg);
    color: var(--fg);
    border: 1px solid var(--g2);
}

#mobile-menu-drawer-wrapper {
    font-weight: 600;
    position: fixed;
    left: 0;
    z-index: 999999;
    position: fixed;
    margin-top: 24px;
    height: fit-content;
    width: 100%;
    bottom: 0;
    top: calc(100% - 24px);
    transform: translateY(-100%);
    background: linear-gradient(transparent, rgba(10, 10, 10, .2));
}

.mobile-social {
    width: fit-content !important;
    padding: .5em .25em !important;
    font-size: 1.8em;
}

.mobile-menu-text {
    font-weight: 400 !important;
    color: var(--fg);
    font-family: var(--f1);
}