#mobile-menu-drawer {
    z-index: 9999;
    min-height: 25vh;
    max-height: 75vh;
    width: 90%;
    position: fixed;
    background: var(--bg-alt);
    bottom: var(--m2);
    left: 5%;
    border-radius: var(--r3);
    box-shadow: var(--bs);
    border: 1px solid var(--g2);
}

#mobile-menu-drawer-wrapper {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    height: fit-content;
}

#mobile-menu-drawer ul {
    height: 100%;
    list-style-type: none;
    padding: var(--m2) var(--m3);
    padding-top: 0 !important;
    padding-bottom: var(--m3);
}

#mobile-menu-drawer ul li {
    margin-bottom: var(--m2) 0;
    border-bottom: 1px solid var(--g2);
    font-family: var(--f2);
}

#mobile-menu-drawer ul li a {
    color: var(--g1) !important;
    display: inline-block;
    width: 100%;
    text-align: center;
    padding: var(--m2) 0;
}

.disabled-menu {
    pointer-events: none;
    opacity: .25;
}

#mobile-theme {
    font-size: 1.5em;
    position: relative;
    right: 0;
    left: 100%;
    transform: translate(-150%, -50%);
}

#mobile-theme i {
    padding: var(--m1);
    border-radius: 999px;
    background: var(--g2);
    color: var(--fg);
    border: 1px solid var(--bg-alt);
}

#mobile-menu-drawer-wrapper {
    z-index: 999999;
    position: fixed;
    height: 40%;
    width: 100%;
    bottom: 0;
    top: 60%;
    background: linear-gradient(transparent, rgba(10, 10, 10, .65));
}

.mobile-social {
    width: fit-content !important;
    padding: .5em .25em !important;
    font-size: 1.8em;
}