<!DOCTYPE html>
{% from "./macros/_style.html" import style %}
{% from "./macros/_headerFooter.html" import header, footer %}
{% from "./macros/_socials.html" import socials %}

<html lang="en">

<head>
    {% block head %}
    {% endblock %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="favicon.png" />
    <script type="text/javascript" src="{{ url_for('static', filename='js/theme.js') }}"></script>
    {% block title %}
    {% endblock %}
</head>
{% block style %}
{% endblock %}
<body>
    <div class="import">
        {{style()}}
        {{header()}}
        {{socials()}}
    </div>
    <div class="app-wrapper">
        {% block body %}
        {% endblock %}
    </div>
</body>

</html>

{% macro stylesheet(file) %}
<link rel="stylesheet" href="{{ url_for('static', filename='{{file}}') }}">
{% endmacro %}
