<!DOCTYPE html>
{% from "./macros/_style.html" import style %}
{% from "./macros/_modules.html" import modules %}
{% from "./macros/_headerFooter.html" import header, footer with context %}
{% from "./macros/_socials.html" import socials %}
{% from "./macros/_write_btn.html" import write_btn %}
<!-- TODO: hide write button if url is theistanbulchronicle.com/write since we don't want nested write pages in history.-->

<html lang="en">

<head>
    {% block head %}
    {% endblock %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width">
    <meta name="description" content="The Istanbul Chronicle: Breaking news and articles from unbiased writers">
    <meta name="theme-color" content="#000000">
    <link rel="icon" type="image/png" href="favicon.png"/>
    <script src="{{ url_for('static', filename='js/theme.js') }}"></script>
    <script src="{{ url_for('static', filename='js/dismissHandler.js') }}"></script>
    <script src="{{ url_for('static', filename='js/ani.js') }}"></script>
    {{ modules() }}
    {% block title %}
    {% endblock %}
</head>
{% block style %}
{% endblock %}

<body>
<div class="layout">
    {{ style() }}
    {{ socials() }}
    {{ header() }}
    {% if authorized('W') %}
        {{ write_btn() }}
    {% endif %}
</div>
<div class="app-wrapper">
    {% block body %}
    {% endblock %}
</div>
</body>

</html>