{% extends "base.html" %}

{% block title %}
<title>The Istanbul Chronicle: From truth, comes liberation</title>
{% endblock %}

{% block imports %}
{% from "./macros/_load.html" import load %}
{% endblock %}

{% block head %}
<script type="text/javascript" src="{{ url_for('static', filename='js/loadHandler.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/global.js') }}"></script>
<title>The Istanbul Chronicle</title>
{% endblock %}

{% block body %}

<script>
    function htmlDecode(input) {
        var e = document.createElement('textarea');
        e.innerHTML = input;
        return e.childNodes.length === 0 ? "" : e.childNodes[0].nodeValue;
    }
    (function () {
        var sub = htmlDecode('{{subpage}}')
        if (sub == 'login') {
            display('login-area', 'flex')
        } else if (sub == 'register') {
            display('register-area', 'flex')
        }
    })();
</script>

{% endblock %}