{% extends 'base.html' %}

{% block head %}
    <meta charset="utf-8">
    <title>New article - The Istanbul Chronicle</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style/screens/mde.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style/screens/write.css') }}">
    <script src="{{ url_for('static', filename='js/date.js') }}"></script>
    <link rel="stylesheet" href="https://unpkg.com/easymde/dist/easymde.min.css">
    <script src="https://unpkg.com/easymde/dist/easymde.min.js"></script>
    <script src="{{ url_for('static', filename='js/ajax/write.js') }}"></script>
{% endblock %}

{% block style %}
{% endblock %}

{% block body %}
    <script>
        document.onreadystatechange = function () {
            displayCurrentDate('write-current-date');
        };
    </script>
    <form action="">
        <div class="flex-row article-top-section">
            <input name="name-article-title" type="text" placeholder="Title" id="write-article-title" class="input-field write-input-field article-name-field" maxlength="60" spellcheck="false" data-ms-editor="true">
            <p class="sub article-date">
                <span id="write-current-date"></span>
                <i class="article-date-icon fas fa-calendar"></i>
            </p>
        </div>
        <div class="mde-container flex-center">
            <textarea></textarea>
            <script src="{{ url_for('static', filename='js/mde.js') }}"></script>
        </div>
        <br>
        <button type="submit" class="r1 submit-button pointer" style="pointer-events: none; opacity: .5" id="write-submit-button" onclick="submitArticle()">Submit Article</button>
    </form>
{% endblock %}