{% extends 'base.html' %}
{% from "./macros/_form.html" import form %}

{% block head %}
    <meta charset="utf-8">
    <title>New article - The Istanbul Chronicle</title>
    {{ easymde.css }}
    {{ easymde.js }}
    <link rel="stylesheet" href="{{ url_for('static', filename='style/screens/mde.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style/screens/write.css') }}">
{% endblock %}

{% block style %}
    <!-- TODO: hide header when easymde on fullscreen -->
{% endblock %}

{% block body %}
    <div class="flex-row article-top-section">
        {{ form('Title',       'write-input-field article-name-field' ,    'write-article-title',       'text',        'name-article-title') }}
        <span class="sub article-date">11.12.2021
    <i class="article-date-icon fas fa-calendar"></i>
</span>
    </div>
    <div class="mde-container flex-center">
        <textarea> Write your article here </textarea>
        <!--TODO: #20 give the textarea tag a name="" and get the data using pull method-->
    </div>
    {{ easymde.load }}
{% endblock %}