{% extends 'base.html' %}
{% from "./macros/_form.html" import form %}

{% block head %}
    <meta charset="utf-8">
    <title>New article - The Istanbul Chronicle</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style/screens/mde.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style/screens/write.css') }}">
    <script src="{{ url_for('static', filename='js/date.js') }}"></script>
    <link rel="stylesheet" href="https://unpkg.com/easymde/dist/easymde.min.css">
    <script src="https://unpkg.com/easymde/dist/easymde.min.js"></script>
{% endblock %}

{% block style %}
    <!-- TODO: hide header when easymde on fullscreen -->
{% endblock %}

{% block body %}
    <script>
        document.onreadystatechange = function () {
            displayCurrentDate('write-current-date');
        };        
    </script>
    <div class="flex-row article-top-section">
        {{ form('Title',       'write-input-field article-name-field' ,    'write-article-title',       'text',        'name-article-title') }}
        <p class="sub article-date">
            <span id="write-current-date"></span>
            <i class="article-date-icon fas fa-calendar"></i>
        </p>
    </div>
    <div class="mde-container flex-center">
        <textarea></textarea>
        <script src="{{ url_for('static', filename='js/mde.js') }}"></script>
        <!--TODO: #20 use jquery ajax here to send a request to server and read data -->
    </div>
{% endblock %}